/*Browser Reset*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  /* setting page background */
  body {
        margin: auto;
        background: #ffffff;
        padding: 20px;
}

 /*  scalable background image https://www.bitdegree.org/learn/responsive-image#:~:text=Using%20CSS%2C%20you%20can%20set,or%20bigger%20than%20the%20viewport.*/
 
 
header { background-image: url("../img/tech_640.jpg");
         background-repeat: no-repeat;     
        background-size: 100% 100%;     
}

nav { background-color: lightsalmon; }
.about-me { background-color: lightslategray; }
.skills { background-color: darkgoldenrod; }
.dev-tools { background-color: darkmagenta; }
.footer-navigation { background-color: blue; }
.social-media { background-color: yellow; }
footer{ background-color: plum; }

/*Naming sections of grid*/

header { grid-area: header; }
nav { grid-area: nav; }
.about-me { grid-area: about; }
.skills { grid-area: skills; }
.dev-tools { grid-area: tools; }
.footer-navigation { grid-area: links; }
.social-media { grid-area: social; }
footer{ grid-area: copyrt; }


/*display website for mobiles*/
body {
    display: grid;

    grid-template-columns: 100%;

    grid-template-rows:  repeat(8,auto);

    grid-template-areas:
      "header"
      "nav"
      "about"
      "skills"
      "tools"
      "links"
      "social"
      "copyrt"
  
   ;
      
  }

/* Display for Tablets*/

  @media screen and ( min-width: 600px ) {
    body { 
        display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows:   repeat(7,auto);

      grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        ". about about ."
        ". skills skills ."
        ". tools tools ."
        "links links social social"
        "links links copyrt copyrt";
        
    }
}

/* display for desktop*/
@media screen and (min-width: 1024px)
{
    body{

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:   repeat(6,auto);
    

    grid-template-areas: 
    "header header header header header header"
    "nav nav nav nav nav nav"
    ". . about about . ."
    ". skills skills tools tools ."
    ". links links social social ."
    ". . .  . . copyrt";
    }
}


